<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="default_log_level">INFO</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.synopsys.homework" level="${default_log_level}" />
	</Loggers>
</Configuration>